.about-section {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-section2 {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.about-section p {
    line-height: 1.5;
    padding:0 50px; ;
}

.profile-img {
    border: 5px solid #fc5185;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 20px;
}